<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>

<div th:fragment="pollConfig" id="pollConfigGroup">

 	<div class="form-group row">
 	
     	<input type="text" class="form-control row-sm-7 col" id="optionInput" placeholder="Poll Option"/>
		<button type="button" class="btn btn-primary row-sm-7 col-sm-auto col-md-auto col-lg-auto" id="addButton">+</button>
	</div>
	<div class="form-group" id="addOption">
       	<p th:each="option,stat : ${pollForm.options}">
       		<label th:text="${option}"></label>
       		<input type="hidden" th:field="*{options[__${stat.index}__].description}"/>
       		<input type="hidden" th:field="*{options[__${stat.index}__].optionId}"/>
       		<button type="button" name="${'removebutton'+'__${stat.index}__'}" id="${'removebutton'+'__${stat.index}__'}"
       		 class="btn btn-danger btn-sm">-</button>
       	</p>
	</div>
  	<script th:inline="javascript" type="text/javascript">
	    /* Fill in modal with content loaded with Ajax */
	    $(function () {
	    	var addOption = $('#addOption');
	    	var i=$('#addOption p').size();
	    	
	        $('#addButton').on('click', function () {
	        	$('<p><label>'+ $('#optionInput').val()+ '</label><input type="hidden" name="options['+i
	        			+'].description" id="options['+i+'].description" value="'+$('#optionInput').val()+'"></input>'
	        			+'<button type="button" name="removeButton" id="removeButton'+i+'" class="btn btn-danger btn-sm">-</button></p>').appendTo(addOption);
	        	$('#optionInput').val('');
	        	$('#removeButton'+i).click(function(){
	        		if( i > 0 ){
	        			$(this).parents('p').remove();
	        			i--;
	        		}
	        		return false;
	        	});
	        	i++;
	            });
	        });
	</script>
</div>


<div th:fragment ="proposalConfig" id="pollConfigGroup">
</div>

<div th:fragment="fullConfig" id="pollConfigGroup">
	<div class="form-group">
		<div th:if="${typeConfig.canConfigMultiSelection()}">
			<input id="multiselectionCheckbox" type="checkbox" class="form-check-input"/>
			<label th:text="#{poll.fragments.pollConfigs.checkbox.multiselection}" class="form-check-label" id="multiselectionLabel" for="multiselectionCheckbox"></label>
		</div>
	</div>
	<div class="form-group col">
		<div th:if="${typeConfig.canConfigDotPoll()}">
			<input id="dotPollCheckbox" type="checkbox" class="form-check-input"/>
			<label th:text="#{poll.fragments.pollConfigs.checkbox.dotPoll}" class="form-check-label" id="dotPollLabel" for="dotPollCheckbox"></label>
		</div>
	</div>
		<div th:if="${typeConfig.isUserDefinedOptions()}" th:include="::pollConfig"></div>
	
</div>
</body>
</html>