<!DOCTYPE html>
<html>

<head>
  <title th:text="#{discussion.create.title}">Create Discussion</title>
  
  	<th:block th:replace="fragments/layout :: resusableStyles"></th:block>
</head>

<body>
    <div th:replace="fragments/layout :: header"></div>
    
    
    <div th:fragment="discussionFragment" class="container" id="discussionContainer"> 
    	<div class="jumbotron">
   			<div class="container">
   				<div class="card border-info">
   					<h1 class="card-title" th:text="${discussion.tittle}"> </h1>
   					<p class="card-header bg-secondary text-white d-flex" th:text="${discussion.createdBy.userName}">
   					</p>
   					<p class="card-body margin-left-1" th:text="${discussion.description}"> </p>
   				</div>
   				<th:block th:each="userComment,stat : ${commentList}">
					<hr>
					<div class="card">
	 					<p class="card-header bg-secondary text-white" th:text="${userComment.commentedBy.userName}"></p>
	 					<p class="card-body margin-left-1" th:text="${userComment.content}"> </p>
					</div>
   				</th:block>
   			</div>
   			<hr>
   			<div class="container">
   				
   				<div class="card border-info">
	 				<p class="card-header bg-primary text-white" th:text="#{discussion.show.cardHeader.newComment}">New Comment</p>			
	   				<form th:object="${commentForm}" method="POST" th:action="@{/discussion/addComment}">
		   					<div class="form-group from-row">
		   						<input type="hidden" th:field="*{discussionId}"></input>
		   						<textarea class="form-control card-body" rows="7" th:field="*{content}" style="resize: vertical;"></textarea> 
		   					</div>
		   					<div class="form-row card-footer justify-content-end" style="text-align:right;">
			   					<button  class="btn btn-success" >Comment!</input>
		   					</div>
	   				</form>
   				</div>
   			</div>
    	</div>
    </div>
    
    
    <div th:replace="fragments/layout :: footer">© 2016 The Static Templates</div>
    <!-- Signup modal -->
    <div th:replace="fragments/components :: modal(id='signup-modal', title='Signup')"></div>
    <div th:replace="fragments/components :: modal(id='poll-modal', title='Create Poll')" th:if="${#authorization.expression('isAuthenticated()')}"></div>
  
</body>

</html>