<!DOCTYPE html>
<html>
  <head>
    
    <title th:text="#{home.title}"></title>
    <th:block th:replace="fragments/layout :: resusableStyles"/>
  </head>
  <body>
    <div th:replace="fragments/layout :: header"></div>
<div class="container">
    <div class="text-center">
        <h1>Test</h1>
        <p class="lead">
            Arbitrium
        </p>
        <p>
            <a class="btn btn-success btn-lg" href="#" id="signup" role="button" th:text="#{default.button.signup}">Sign up</a>
        </p>
    </div>
    <div th:replace="fragments/layout :: footer">&copy; 2016 The Static Templates</div>
</div>
<script th:inline="javascript" type="text/javascript">
    /* Fill in modal with content loaded with Ajax */
    $(document).ready(function () {
        $('#signup').on('click', function () {
            $("#signup-modal").modal();
            $("#signup-modal-body").text("");
            $.ajax({
                url: "signup",
                cache: false
            }).done(function (html) {
                $("#signup-modal-body").append(html);
            });
        })
    });
    
</script>
<!-- Signup modal -->
<div th:replace="fragments/components :: modal(id='signup-modal', title='#{signup.title}')"></div>
<div th:if="${#authorization.expression('isAuthenticated()')}" th:replace="fragments/components :: modal(id='poll-modal', title='#{poll.create.title}')"></div>
  </body>
</html>