<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<th:block th:fragment="resusableStyles">
		  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		  <link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
		  <link  rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
		  <script  th:src="@{/resources/js/jquery.min.js}"></script>
		  <script  th:src="@{/resources/js/bootstrap.min.js}"></script>
	</th:block>
</head>

<body>

	<!-- Header -->
	<div class="navbar fixed-top navbar-expand-lg navbar-light bg-secondary"
		th:fragment="header" style="background-color: #737373">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" style="color: white"> <span
					class="glyphicon glyphicon-bookmark"
					aria-hidden="true"></span> Arbitrium
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item" th:classappend="${module == 'home' ? 'active' : ''}"><a
						class="nav-link" href="#" th:href="@{/}" style="color: white" th:text="#{fragments.layout.link.home}">Home</a></li>
					<li class="nav-item"  th:classappend="${module == 'about' ? 'active' : ''}"><a
						class="nav-link" href="#about" th:href="@{/about}" style="color: white" th:text="#{fragments.layout.link.about}">About</a></li>
					<li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}" th:classappend="${module == 'find' ? 'active' : ''}">
                    	<a class="nav-link" id="create-poll" style="color: white" th:text="#{fragments.layout.link.createPoll}">New Poll</a>
                    </li>
					
				</ul>
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item"  th:if="${#authorization.expression('!isAuthenticated()')}">
						<a class="nav-link" href="/signin" th:href="@{/signin}" style="color: white" th:text="#{fragments.layout.link.signin}">&nbsp;Sign in
						</a>
					</li>
					<li th:if="${#authorization.expression('isAuthenticated()')}">
						<a href="/logout" th:href="@{#}" onclick="$('#form').submit();"
							style="color: white"> 
								<span class="glyphicon glyphicon-log-out" aria-hidden="true" style="color: white"></span>
								&nbsp;[[#{fragments.layout.link.logout}]]
						</a>
						<form style="visibility: hidden" id="form" method="post"
							action="#" th:action="@{/logout}"></form>
					</li>
					
				</ul>
			</div>
			<script th:if="${#authorization.expression('isAuthenticated()')}" th:inline="javascript" type="text/javascript">
				$(document).ready(function () {
				        $('#create-poll').on('click', function () {
				            $("#poll-modal").modal();
				            $("#poll-modal-body").text("");
				            $.ajax({
				                url: "createpoll",
				                cache: false
				            }).done(function (html) {
				                $("#poll-modal-body").append(html);
				            });
				        })
				    });
			</script>
			<!--/.nav-collapse -->
		</div>
	</div>


	<!-- Footer -->
	<div th:fragment="footer" th:align="center">
		Poll Manager Tool
	</div>

</body>
</html>