<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Poll</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body style="background-color:white">
<div th:replace="fragments/layout :: header"></div>

	<div class="container" th:fragment="pollSearchBody">
		<div class="jumbotron">
			<form id="pollSearchForm" class="row justify-content-center" method="get">
				<div class="col-lg-7">
					<input id="keywords" name="keywords" type="text"  class="form-control" th:placeholder="#{poll.search.keywords.placeholder}"></input>
				</div>
				<div class="col-lg-2">
					<button type="submit" class="btn btn-primary" th:text="#{default.button.search}"></button>
				</div>
			</form>
		</div>
		<table class="table">
				<tbody>
					<tr th:each="poll,stat : ${pollList}">
						<td th:text="${poll.name}"></td>
						<td><a class="btn btn-primary" th:text="#{findpoll.viewpoll.button}" th:href="@{poll/{id}(id=${poll.id})}"></a></td>
					</tr>
				</tbody>
		</table>
	</div>


<div th:replace="fragments/layout :: footer"></div>
</body>
</html>